a.xls {
  background: url(../images/page_white_excel.png) no-repeat 1px 50%;
  padding: 2px 1px 3px 17px;
}

a.xlse {
  background: url(../images/page_white_stack.png) no-repeat 1px 50%;
  padding: 2px 1px 3px 17px;
}

.tabular label.floating-disabled{
  font-weight: normal;
  margin-left: 0px;
  text-align: left;
  width: 270px;
  color: #aaa;
}

.tabular.settings label.floating {
  margin-left: 0px;
  width: 270px;
}

.tabular.settings p {
  padding-left: 180px;
}

.tabular.settings label {
  margin-left: -180px;
  width: 175px;
}

.tabular.box p em.info {
    display: inline;
}

